* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
  
a, link {
    color: black  !important;
    font-family: 'Roboto Serif', serif;
    text-decoration: none; 
}

header {
width: auto;
height: 200px;
}
header img {
    height: 150px;
    width: 150px;
}
.titleLogoFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

.formSignIn {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: yellowgreen; 
    padding: 40px;
    border-radius: 5%;
}
#username, #password {
    padding: 10px;
    margin: 10px 0 0 10px;
}
section.backgroundIndex {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*ESTILOS HOME  */
#home { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#home h1 {
    height: 100px;
}
.table-sm {
    width: 900px !important;
}
#movimientos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-style: black solid 1px;
    width: 400px !important;
}

/* ESTILOS CRIPTOMONEDAS */

#showCryptos {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 600px;
    margin: auto;
}
#detalleCompra {
    border-style: 1px solid black;
    font-family: 'Roboto Serif', serif;
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#detalleCompra h4 {
    font-size: medium;
    padding: 20px;
}

.imgCardsCarrito{
    height: 50px;
    width: 50px;
}
.liCarrito {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.divCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0 0 0;
    height: 300px;
    width: 150px;
}
.divCard img {
    height: 100px;
    width: 100px;
}
.addCart {
    padding: 10px;
    border-style: none;
    background-color:  rgb(117, 220, 117);
}


/* ESTILOS PRESTAMOS */

#seccion_prestamo {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 20px;
}

.divPrestamo {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-family:'Raleway', sans-serif;
color: black;
}
.btn_prestamo {
    display: flex;
    justify-content: space-around;
    margin: 10px 0 10px 0;
}
.formPrestamo {

    display: flex;
    justify-content: center;
    align-items: center;
}
.formPrestamo label, input{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
#detallesPrestamo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 400px;
    background-color: rgb(212, 246, 119);
    color: green;
}
.p_condiciones {
    width: 900px;
}

footer {
    background-color:#279d2e;
    margin-top: 30px;
    padding: 50px 0 50px 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
